/* Base Style Sheet for the HTML files, not for the matrix-live part*/

/*

COLOR PALETTE

#272822	Background color
#1E1F1C	Sidebar background
Gray    Sidebar header links
#5D62D5 General link background
Green   Sidebar list header
#6FC18B	Sidebar links
#89DB2C Post Before/after
#A4A59E Matrix Live text
#BD2729 Matrix Live list before/after
#769026 Title and Title Before
#E6DB74 Sub Headers


*/


@media only screen and (max-width: 1200px) {
  #right-sidebar {
      display: none;
  }
  
}



@media only screen and (max-width: 980px) {

  #sidebar-container {
    display: none;
  }

  #matrix-container {
    margin-left: 0px;
    margin-top: 25px;
    font-size: 75%;
  }

  #header {
    display: flex;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1E1F1C ;
    -moz-box-shadow:    1px 1px 1px 1px #1E1F1C;
    -webkit-box-shadow: 1px 1px 1px 1px #1E1F1C;
    box-shadow:         1px 1px 1px 1px #1E1F1C;
  }

  #header ul {
    list-style: none;
    width: 100%;
    padding: 0;
    
  }

  #header li {
    display: inline;
    padding: 0;
  }

  #header a {
    color: #769026;
  }

  #matrix-container {
    min-width: 100%;
    max-width: 100%;
  }

  .matrix-live-main {
    width: 100%
  }
  
  .matrix-live-entry {
    width: 100%
  }

}


@media screen and (max-width: 650px) {


  #matrix-container {
    min-width: 100%;
    max-width: 100%;
  }

  .matrix-live-main {
    width: 100%
  }
  
  .matrix-live-entry {
    width: 100%
  }

}



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #272822;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  -webkit-align-items: stretch;
}

a {
  color: #6FC18B;
  text-decoration: none;
}

iframe {
  border: none;
}

#header {

}

.sidebar-container {
  display: flex;  
  flex-direction: column;
  min-width: 180px;
  max-width: 180px;
  background-color: #1E1F1C ;
  position: fixed;
  min-height: 100%;
  max-height: 100%;
  -moz-box-shadow:    1px 1px 1px 1px #1E1F1C;
  -webkit-box-shadow: 1px 1px 1px 1px #1E1F1C;
  box-shadow:         1px 1px 1px 1px #1E1F1C;

  
}

.sidebar-container a {
  color: #769026;
}

.sidebar-container .profile-pic {
  max-width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  border-style: none;
  border-radius: 5px;
}

.headerfooter {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-left: 0px;
  height: 7em;
  color: #5D62D5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.headerfooter a {
  color: gray;
  justify-content: center;
  padding: 15px;
}

.list-container {
  display: flex;
  max-width: 70%;
  margin-left: 0px;
  margin-right: 0px;

}

.sidebar-container ul {
  list-style: none;
  margin-top: 2em;
  color: #89DB2C;
  font-size: 1.5em;
}



.sidebar-container ul li {
  list-style: none;
  padding-left: 20px;
  padding-top: 5px;
  font-size: 0.85em;
}


.matrix-container {
  display: flex;
  max-width: 760px;
  min-width: 760px;
  margin-left: 100px;

}

.right-sidebar {
  display: flex;

  max-height: 100%;
  min-height: 100%;
  min-width: 300px;
  max-width: 300px;
  position: fixed;
  right: 0;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  background-color: #1E1F1C;
  -moz-box-shadow:    1px 1px 1px 1px #1E1F1C;
  -webkit-box-shadow: 1px 1px 1px 1px #1E1F1C;
  box-shadow:         1px 1px 1px 1px #1E1F1C;
}

.right-sidebar ul {
  list-style: none;
  text-align: center;
  margin-right: 30px;

}

.right-sidebar li {
  list-style: none;
  text-align: center;
  font-size: 1.4em;
  background-color: white;
  margin-bottom: 5px;
  max-width: 280px;
  min-width: 280px;
}