/* Specific for the about page */


.matrix-live-entry:before {
  font-size: 2em;
  color: #89DB2C;
  content: "\A .about  {";
  white-space: pre;

  }

  .matrix-live-entry-body h1:before {
    font-size: 1em;
    color: #769026;
    content: "topic: ";
    margin-left: 50px;
  }

  .right-sidebar {
    display: flex;
    flex: 1;
    max-height: 100%;
    min-height: 100%;
    min-width: 300px;
    flex-direction: column;
  
    position: fixed;
    right: 0;  
    align-items: center;
    justify-content: center;
    background-color: #1E1F1C;
    -moz-box-shadow:    1px 1px 1px 1px #1E1F1C;
    -webkit-box-shadow: 1px 1px 1px 1px #1E1F1C;
    box-shadow:         1px 1px 1px 1px #1E1F1C;
  }
  
  .mastofeed {
    max-width: 300px;

    overflow: hidden;
    margin-right: -25px;
    
    
  }

  .mastofeed iframe {
    margin-top: 10px;
    
  }
  
.right-sidebar h2 {
  color: #769026;
  height: 5px;
  margin-top: 0px;
  padding-top: 0px;
}