/* Everything from here down is related to the Matrix-Live generated HTML
  Mostly copied and changed from the official Matrix Live repo
*/

.matrix-live-main {
  margin: 0 auto;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}






.matrix-live-loading {
  font-size: smaller;
  text-align: right;
  color: #918e91;
  opacity: 0;
  padding: 4px;
  margin: 1px;
  display: none;

}

.matrix-live-loading-error {
  color: #ff686e;
  display: none;

}

.matrix-live-error {
  border-bottom-style: solid;
  border-bottom-color: #aeabac;
  border-bottom-width: 2px;
  padding-bottom: 30px;
  margin: 10px;
  color: #ff686e;
  display: none;

}

.matrix-live-body {
  margin: 0 auto;

}


.matrix-live-entry:before {
  font-size: 2em;
  color: #89DB2C;
  content: "\A .post  {";
  white-space: pre;

  }

.matrix-live-entry:after {
  color: #89DB2C;
  font-size: 2em;
  content: "\A \A } \A \A";
  white-space: pre;

}

.matrix-live-entry {
  color: #A4A59E;
  border-style: none;
  min-width: 100%;
  
}

.matrix-live-new {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;

}

.matrix-live-entry-body {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  
  
}

.matrix-live-entry-body a {
  background-color: #5D62D5;
}

.matrix-live-entry-body pre {
  justify-content: center;
}

.matrix-live-entry-body ul {
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  max-width: 70%;
  padding: 0;
  
}

.matrix-live-entry-body ul li:before {
  color: #BD2729;
  content: "< ";
  white-space: pre;
}

.matrix-live-entry-body ul li:after {
  color: #BD2729;
  content: " >";
  white-space: pre;
}

.matrix-live-entry-body ul li {
  padding-bottom: 2px;
  text-align: center;
  list-style: none;

  
  
}


.matrix-live-entry-body p {
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 1em;
  font-size: 1.1em;
  text-align: center;
  max-width: 70%;
}

.matrix-live-entry-body p img {
  display: block;
  margin: 0 auto;
}

.matrix-live-entry-body h1:before {
  font-size: 1em;
  color: #769026;
  margin-left: 50px;
  content: "title: "
}

.matrix-live-entry-body h1 {
  color: #769026;
}


.matrix-live-entry-body h2 {
  color: #E6DB74;
  text-align: center;
}

.matrix-live-entry-body h3 {
  color: #E6DB74;
  text-align: center;
}

.matrix-live-entry-body h4 {
  color: #E6DB74;
  text-align: center;
}

.matrix-live-entry-body h5 {
  color: #E6DB74;
  text-align: center;
}

.matrix-live-entry-body h6 {

  text-align: center;
}

.matrix-live-entry-body img {
  max-width: 100%;
  text-align: center;

  margin-right: 50px;
}

.matrix-live-entry-inline-viewer {
  text-align: center;
}


.matrix-live-entry-image {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}


.matrix-live-entry-image img {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}


.matrix-live-entry-video {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.matrix-live-entry-video video {
  max-width: 100%;
}


.matrix-live-entry-file {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}


.matrix-live-entry-file svg {
  width: 32px;
  max-width: 20%;
  margin-right: 16px;
  vertical-align: middle;
}



.matrix-live-entry-author {
  font-size: small;
  color: #9E8966;

  float: left;
  padding: 2px;

}

.matrix-live-entry-time {
  font-size: small;
  color: #9E8966;

  float: right;
  padding: 2px;
}



.matrix-live-footer {
  text-align: right;
  font-size: smaller;

  padding: 4px;

  margin-top: 20px;
  margin-left: 10px;   
  margin-right: 10px;
  margin-bottom: 10px;



}



/* Fadein setup */

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}