




/* Specifics for the photos page */

.matrix-live-entry-image {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;

}


.matrix-live-entry-image img {
  max-width: 90%;
}

.matrix-live-entry-body img {
  max-width: 100%;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.matrix-live-entry:before {
  font-size: 2em;
  color: #89DB2C;
  content: "\A .pic { \A";
  white-space: pre;
}

.right-sidebar {
  display: flex;
  flex: 1;
  max-height: 100%;
  min-height: 100%;
  min-width: 300px;
  flex-direction: column;

  position: fixed;
  right: 0;  
  align-items: center;
  justify-content: center;
  background-color: #1E1F1C;
  -moz-box-shadow:    1px 1px 1px 1px #1E1F1C;
  -webkit-box-shadow: 1px 1px 1px 1px #1E1F1C;
  box-shadow:         1px 1px 1px 1px #1E1F1C;
}

.mastofeed {
  max-width: 300px;

  overflow: hidden;
  margin-right: -25px;
  
  
}

.mastofeed iframe {
  margin-top: 10px;
  
}

.right-sidebar h2 {
color: #769026;
height: 5px;
margin-top: 0px;
padding-top: 0px;
}